import %workspace%/.bazelrc.d/base.bazelrc

common --platforms=@rules_variant//platforms:host
# Ensure the bazel info will not fail
# (we cannot simplify to //platforms because .bazelrc
# is symlinked to examples atm)
info --platforms=

# Ensure the protobuf is prefereing the prebuilts
common --incompatible_enable_proto_toolchain_resolution
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc=true
common --@protobuf//bazel/flags:prefer_prebuilt_protoc=true
